
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 2</b></center> 
    Krisha Virpara
    24010101302
<pre>

### 01) WAP to print “Hello World..!!”

In [1]:
print("Hello world...!!")

Hello world...!!

### 02) WAP to accept your name and display a welcome message.
#### Input: Priya
#### Output: Hello Priya, welcome to Python Lab.

In [4]:
name = input ("Enter your name:")
print(f"hello {name},welcome to python lab")

Enter your name: krisha

hello krisha,welcome to python lab

### 03) WAP to accept three integers and display the numbers, their sum, and average.
#### Input: 10 20 30
#### Output: 
##### Numbers: 10 20 30
##### Sum: 60
##### Average: 20.0

In [11]:
a = int(input("Enter value of a:"))
b = int(input("Enter value of b:"))
c = int(input("Enter value of c:"))


sum = (a + b + c)
print(f"Sum of {a},{b},{c} is {sum}")
avg = ((sum)/3)
print(f"Avg of {a},{b},{c} is {avg}")

Enter value of a: 10
Enter value of b: 20
Enter value of c: 30

Sum of 10,20,30 is 60
Avg of 10,20,30 is 20.0

### 04) WAP to accept name (string), age (int), and percentage (float).
#### Input : Riya,18,92.5
#### Output : 
##### Name: Riya  Type: <class 'str'>
##### Age: 18  Type: <class 'int'>
##### Percentage: 92.5  Type: <class 'float'>

In [15]:
name = input("Enter your name:")
age = int(input("Enter age:"))
percent = float(input("Enter percentage:"))

print(f"Name:{name}")
print(type(name))
print(f"Age:{age}")
print(type(age))
print(f"Percentage:{percent}")
print(type(percent))

Enter your name: krisha
Enter age: 19
Enter percentage: 92.5

Name:krisha
<class 'str'>
Age:19
<class 'int'>
Percentage:92.5
<class 'float'>

### 05) WAP to print folowing message using custom separator and end.
#### Ouutput : Python | Programming | Basics###

In [24]:
print("Python "," Programming ", "Basics",sep="|",end="###")

Python | Programming |Basics###

### 06) WAP to accept a value and display its value, type, and memory id.
#### Input : hello
#### Output : 
##### Value: hello
##### Type: <class 'str'>
##### ID: 140712345678912

In [22]:
value  = input("Enter your value")
print(f"Value:{value}")
print("Type:",type(value))
print("ID:",id(value))

Enter your value hello

Value:hello
Type: <class 'str'>
ID: 1613486061776

### 07) WAP to assign a value to a variable, print id, reassign a new value, and print id again.
#### Output :
##### Original ID of a: 140712345678912
##### New ID of a: 140712345678960

In [26]:
x=10
print("Original ID of a:",id(x))
x=20
print("New ID of a:",id(x))

Original ID of a: 140710213629128
New ID of a: 140710213629448

### 08) WAP to print multiple lines using a single print().
#### Output:
##### Welcome to Python
##### This is the second lab
##### Enjoy coding!

In [25]:
print("""Welcome to Python
This is the second lab
Enjoy coding!""")

Welcome to Python
This is the second lab
Enjoy coding!

### 09) WAP to display following table of items with proper alignment.
#### Output :
| Sr No | Name        | Subject | Grade | Percentage |
| ----: | ----------- | ------- | :---: | ---------: |
|     1 | Nisha Patel | Math    |   A   |         92 |
|     2 | Aarav Modi  | Science |   B+  |         85 |
|     3 | Jiya Shah   | English |   A+  |         96 |

In [41]:
print(f"{'SrNo':>7}{'Name':^15}{'Subject':12}{'Grade':^7}{'Percentage':>15}")
print(f"{'1':>7}{'Nisha Patel':^15}{'Math':12}{'A':^7}{'92':>15}")
print(f"{'2':>7}{'Aarav Modi':^15}{'Science':12}{'B+':^7}{'85':>15}")
print(f"{'3':>7}{'Jiya Shah':^15}{'English':12}{'A+':^7}{'96':>15}")

   SrNo     Name      Subject      Grade      Percentage
      1  Nisha Patel  Math           A                92
      2  Aarav Modi   Science       B+                85
      3   Jiya Shah   English       A+                96

### 10) WAP to accept a float number and display with 2 decimals, 3 decimals, and width 10.
#### Input : 37.2567
#### Output :
##### 2 decimals: 37.26
##### 3 decimals: 37.257
##### Width 10:      37.26

In [45]:
num = float(input("Enter value of num:"))
print(f"2 decimals: {num:.2f}")
print(f"3 decimals: {num:.3f}")
print(f"width 10: {num:10.2f}")

Enter value of num: 37.2567

2 decimals: 37.26
3 decimals: 37.257
width 10:      37.26

### 11) WAP to accept two integers and display sum, difference, and product using f-strings.
#### Input : 12 8
#### Output :
##### Sum = 20
##### Difference = 4
##### Product = 96

In [47]:
a,b = input("Enter value of a nad b:").split()
a = int(a)
b = int(b)

sum = (a + b)
Difference = (a-b)
Product = (a*b)
print(f"Sum = {sum}")
print(f"Difference = {Difference}")
print(f"Product = {Product}")

Enter value of a nad b: 12 8

Sum = 20
Difference = 4
Product = 96

### 12) WAP to accept date in dd mm yyyy format and display in multiple formats.
#### Input : 01 12 2025
#### Output :
##### 01/12/2025
##### 2025-12-01

In [4]:
 day, month, year = input("Enter date (dd mm yyyy): ").split()

format1 = f"{day}/{month}/{year}"          
format2 = f"{year}-{month}-{day}"          

print(format1)
print(format2)

Enter date (dd mm yyyy):  12 12 2025

12/12/2025
2025-12-12

### 13) WAP to calculate area and perimeter of a circle.

In [49]:
r = int(input("Enter value of r:"))
area = 3.14*r*r
print(f"Area:{area}")

Enter value of r: 10

Area:314.0

### 14) WAP to convert degree into Fahrenheit and vice versa.

In [1]:

print("Temperature Conversion")
print("1. Celsius to Fahrenheit")
print("2. Fahrenheit to Celsius")

choice = int(input("Enter your choice (1 or 2): "))

if choice == 1:
    c = float(input("Enter temperature in Celsius: "))
    f = (c * 9/5) + 32
    print("Temperature in Fahrenheit:", f)

elif choice == 2:
    f = float(input("Enter temperature in Fahrenheit: "))
    c = (f - 32) * 5/9
    print("Temperature in Celsius:", c)

else:
    print("Invalid choice!")

Temperature Conversion
1. Celsius to Fahrenheit
2. Fahrenheit to Celsius

Enter your choice (1 or 2):  1
Enter temperature in Celsius:  100

Temperature in Fahrenheit: 212.0

### 15) WAP to get the distance from user into kilometer, and convert it into meter, feet, inches and centimeter.

In [2]:

km = float(input("Enter distance in kilometers: "))

meters = km * 1000
centimeters = km * 100000
feet = km * 3280.84
inches = km * 39370.1

print("Distance in meters:", meters)
print("Distance in centimeters:", centimeters)
print("Distance in feet:", feet)
print("Distance in inches:", inches)

Enter distance in kilometers:  100

Distance in meters: 100000.0
Distance in centimeters: 10000000.0
Distance in feet: 328084.0
Distance in inches: 3937010.0